@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    @*<link rel="stylesheet" href="leaflet-easy-button.css" />*@
}

<div class="text-center">
    <p class="display-4">Accident Data around London Boroughs in 2012.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
            <div id="map"></div>
        </div>

        <div class="col-4 alert alert-dark">
            <p style="text-align:center">Pie Chart - Accident Severity from 2012</p>
            <canvas id="myChart"></canvas>

            </br>
            <div class="container">
                <div class="row">
                    <div class="col alert alert-secondary">
                        <div id="accident"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@*<div id="map"></div>*@
<style>
    #map {
        height: auto;
        min-height: 600px;
    }

    /*Legend specific*/
    .legend {
        padding: 6px 8px;
        font: 14px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255, 255, 255, 0.8);
        /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
        /*border-radius: 5px;*/
        line-height: 24px;
        color: #555;
    }

        .legend h4 {
            text-align: center;
            font-size: 16px;
            margin: 2px 12px 8px;
            color: #000;
        }

        .legend span {
            position: relative;
            bottom: 3px;
        }

        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin: 0 8px 0 0;
            opacity: 0.7;
        }

            .legend i.icon {
                background-size: 18px;
                background-color: rgba(255, 255, 255, 1);
            }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
